name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run-all-tests:
    name: Run all tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 8
        uses: actions/setup-java@v5
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Run all tests
        run: mvn -B verify
